<h5>Hello <%= current_admin.name %>, what would you like to do today?</h5>

<%= link_to 'View Realtors', realtor_index_path, :class => "btn btn-link" %>
<%= link_to 'View House Hunters', hunter_index_path, :class => "btn btn-link" %>
<%= link_to 'Houses', houses_path, :class => "nav-link" %>
<%= link_to 'Real Estate Companies', real_estate_companies_path, :class => "nav-link" %>

<%= link_to 'Log Out', destroy_admin_session_path, method: :delete, :class => "nav-link" %>