<h1>Welcome to REM APP</h1>


<%= link_to 'Login admin!', new_admin_session_path, :class => "nav-link" %></br>
<%= link_to 'Login realtors!', new_realtor_session_path, :class => "nav-link" %>
<%= link_to 'Signup realtors!', new_realtor_registration_path, :class => "nav-link" %></br>
<%= link_to 'Login hunters!', new_hunter_session_path, :class => "nav-link" %>
<%= link_to 'Signup hunters!', new_hunter_registration_path, :class => "nav-link" %>