<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @real_estate_company.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @real_estate_company.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @real_estate_company.address %>
</p>

<p>
  <strong>Size:</strong>
  <%= @real_estate_company.size %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @real_estate_company.founded %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @real_estate_company.revenue %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @real_estate_company.synopsis %>
</p>

<%= link_to 'Edit', edit_real_estate_company_path(@real_estate_company) %> |
<%= link_to 'Back', real_estate_companies_path %>
