<div class="container">
    <%= form_for @realtor, url: realtor_path(@realtor), method: :put do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true%>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone, autofocus: true%>
    </div>

    <div class="field">
      <%= f.label :real_estate_company %><br />
      <%= f.select :real_estate_company_id, RealEstateCompany.all.collect { |c| [c.name, c.id] }%>

    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

        <div class="form-group">
            <%= f.submit "Submit", :class => "btn btn-primary" %>
        </div>
    <% end %>
</div>